{% extends "admin/base.html" %}


{% block body %}

<!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Employee Hours</h3>
              </div>




              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/admin/employee_hours/edit/{{item.id}}" method="post" enctype="multipart/form-data">

                <div class="card-body">

                <div class="col-lg-10">


                  <div class="form-group">
                    <input type="hidden" class="form-control" id="employee_id" name="employee_id" placeholder="Enter employee employee_id" value="{{item.employee_id}}" required="">
                  </div>



                  <div class="form-group">
                    <label for="started_at">started_at</label>
                    <input type="text" class="form-control" id="started_at" name="started_at" placeholder="Enter employee started_at" value="{{item.started_at}}" required="">
                  </div>


                  <div class="form-group">
                    <label for="finished_at">finished_at</label>
                    <input type="text" class="form-control" id="finished_at" name="finished_at" placeholder="Enter employee finished_at" value="{{item.finished_at}}" required="">
                  </div>

                </div>


			</div>

				
		        <!-- /.col-->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a href="/admin/employee_hours/index/{{item.employee_id}}" class="btn btn-warning">Back</a>

                </div>

				</form>
               </div>




<script src={{ url_for('static',filename="node_modules/jquery/dist/jquery.js")}}></script>
<script src={{ url_for('static',filename="node_modules/moment/moment.js")}}></script>
<script src={{ url_for('static',filename="node_modules/bootstrap/js/transition.js")}}></script>
<script src={{ url_for('static',filename="node_modules/bootstrap/js/collapse.js")}}></script>
<script src={{ url_for('static',filename="node_modules/bootstrap/dist/js/bootstrap.min.js")}}></script>
<script src={{ url_for('static',filename="node_modules/bootstrap-datetimepicker-npm/build/js/bootstrap-datetimepicker.min.js")}}></script>

<!-- parsley.min -->
<script src={{ url_for('static',filename="plugins/parsley/dist/parsley.min.js")}}></script>

<!-- <script src={{ url_for('static',filename="date/date.js")}}></script> -->



<script type="text/javascript">
  
  $("#started_at").datetimepicker();
  $("#started_at").data("DateTimePicker").date(new Date("{{item.started_at.strftime('%m/%d/%Y %I:%M %p')}}"));


  $("#finished_at").datetimepicker();
  $("#finished_at").data("DateTimePicker").date(new Date("{{item.finished_at.strftime('%m/%d/%Y %I:%M %p')}}"));


</script>

{% endblock %}