{% extends "admin/base.html" %}


{% block body %}

<!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Show Recipe</h3>
              </div>
              <!-- /.card-header -->

                <div class="card-body">

                <div class="col-lg-10">
                  <table style="width: 100%;">
                    

                    <tr>
                      <td>name</td>
                      <td>{{item.name}}</td>
                    </tr>
                    <tr>
                      <td>value_per_kg</td>
                      <td>{{item.tag.name}}</td>
                    </tr>

                    <tr>
                      <td>image</td>
                      <td>{{item.image}}</td>
                    </tr>

                    <tr>
                      <td>direction</td>
                      <td>{{item.direction}}</td>
                    </tr>

                    <tr>
                      <td>created_at</td>
                      <td>{{item.created_at}}</td>
                    </tr>



                    <tr>
                      <td>ingredients</td>
                      <td>
                        <table class="table table-bordered table-striped" style="width:100%">
                        {% for ing in item.ingredients %}
                          <tr>
                            <br>
                            <td>{{ing.ingredient.name}}</td>
                            <td>{{ing.amount}}</td>
                            <td>{{ing.unit.name}}</td>
                          </tr>

                        {% endfor %}
                        </table>
                      </td>
                    </tr>
                  </table>

                </div>


			</div>

				
		        <!-- /.col-->

                <div class="card-footer">
                  <a href="/admin/ingredient/index" class="btn btn-warning">Back</a>

                </div>

               </div>


{% endblock %}