{% extends "admin/base.html" %}


{% block body %}


<!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Create Employee Advance</h3>
              </div>




              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/admin/employee_advance/create" method="post" enctype="multipart/form-data">

                <div class="card-body">

                <div class="col-lg-10">

                  {% if employee_id %}
                  <div class="form-group">
                    <input type="hidden" class="form-control" id="employee_id" name="employee_id" placeholder="Enter employee employee_id" value="{{employee_id}}" required="">
                  </div>
                  {% else %}
                  <div class="form-group">
                    <label for="employee_id">employee_id</label>
                    <input type="text" class="form-control" id="employee_id" name="employee_id" placeholder="Enter employee employee_id" required="">
                  </div>
                  {% endif %}


                  <div class="form-group">
                    <label for="amount">amount</label>
                    <input type="number" step="any" class="form-control" id="amount" name="amount" placeholder="Enter employee amount" required="">
                  </div>






                </div>


			</div>

				
		        <!-- /.col-->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  {% if employee_id %}
                  <a href="/admin/employee_advance/index/{{employee_id}}" class="btn btn-warning">Back</a>
                  {% else %}
                  <a href="/admin/employee_advance/index" class="btn btn-warning">Back</a>
                  {% endif %}

                </div>

				</form>
               </div>




<script src={{ url_for('static',filename="node_modules/jquery/dist/jquery.js")}}></script>


<!-- parsley.min -->
<script src={{ url_for('static',filename="plugins/parsley/dist/parsley.min.js")}}></script>




{% endblock %}