{% extends "admin/base.html" %}


{% block body %}


        <div class="card-body">
          

          <div class="card">
            <div class="card-header row">
              <h3 class="col-lg-8">Ingredient Section Management</h3>
              <a href="/admin/ingredient_section/create" class="offset-3 col-lg-3 btn btn-success" style="float: right; font-size: 24px; margin: 6px;">Add New</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="dt_110x" class="table table-bordered table-striped" style="width:100%">
                <thead>
                <tr>
                  <th>id</th>
                  <th>name</th>
                  <th>created_at</th>
                  <th>Actions</th>
                  <th>Views</th>
                  <th>Delete</th>
                </tr>
                </thead>
                
               
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->


        </div>


<script src={{ url_for('static',filename="plugins/jquery/jquery.min.js")}}></script>
 <!-- <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script> -->

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      var table = $('#dt_110x').DataTable({
        "stateSave": true,
        "responsive": true,
        "paging":true,
        "lengthMenu": [[10, 25, 50, 100, 1000, -1], [10, 25, 50, 100, 1000, "All"]],
      // "lengthChange": true,
        "pagingType": "full_numbers",
        "processing": true,
        "serverSide": true,
        // "jQueryUI": true,
        "ajax": "/admin/ingredient_section/data",
        "columns": [
            {"data": "0"},
            {"data": "1"},
            {"data": "3"},
            {
              "data": "0",
              "render": function ( data, type, row, meta ) {
                return '<a href="/admin/ingredient_section/edit/'+data+'" class="nav-link">edit info</a>';
              }
            },
            {
              "data": "0",
              "render": function ( data, type, row, meta ) {
                return '<a href="/admin/ingredient_section/show/'+data+'" class="nav-link">show info</a>';
              }
            },
            {
              "data": "0",
              "render": function ( data, type, row, meta ) {
                if (row[2] == 0){
                  return '<a href="/admin/ingredient_section/delete/'+data+'" class="nav-link" onclick="delete_confirm()">unpublish</a>';
                }else{
                  return '<a href="/admin/ingredient_section/delete/'+data+'" class="nav-link" onclick="delete_confirm()">publish</a>';
                }
                
              }
            },
          ]
      });
    });


    function delete_confirm(){
      if(confirm('Are you sure, You Want to delete this?')) {
      } else {
       event.preventDefault(); 
     }
    }
  </script>

{% endblock %}